@page
@model terrible.Pages.UserPages.TransactionHistoryModel
@{
}
<h1>Transaction History</h1>
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            <div style="float: left; padding-right: 2%;" class="form-group">
                <label>Show payments received</label>
                <input type="checkbox" asp-for="showTransferIn" checked class="form-control form-check" />
            </div>
            <div style="float: left; padding-right: 2%;" class="form-group">
                <label>Show payments made</label>
                <input type="checkbox" asp-for="showTransferOut" checked class="form-control form-check" />
            </div>
            <div style="float: left; padding-right: 2%;" class="form-group">
                <input type="submit" value="Filter" class="btn btn-dark" />
            </div>
        </form>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <table class="table table-active">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TransactionHistory[0].SenderID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TransactionHistory[0].ReceiverID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TransactionHistory[0].TransferAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TransactionHistory[0].TransactionTime)
                        </th>
                    </tr>
                </thead>
                @if (Model.showTransferIn || Model.showTransferOut)
                {
                    for (int i = 0; i < Model.TransactionHistory.Count; i++)
                    {
                    <tr>
                        <td>@Model.TransactionHistory[i].SenderID</td>
                        <td>@Model.TransactionHistory[i].ReceiverID</td>
                        <td>£@Model.TransactionHistory[i].TransferAmount</td>
                        <td>@Model.TransactionHistory[i].TransactionTime</td>
                    </tr>
                    }
                }
            </table>
        </div>

    </div>
</div>